<h1>UserName: {{comment.name}}</h1>
<p>{{comment.response}}</p>

<button type="button" class="btn btn-outline-dark"><a class="users" href='/posts/{{postId}}'>Return To The Post</a></button>

<form method="POST" action="/posts/{{postId}}/comments/{{comment._id}}?_method=DELETE">
    <input type="submit" value="Delete Post" />

</form>

<button type="button" class="btn btn-outline-dark"><a class="users" href="/posts/{{postId}}/comments/{{comment._id}}/responses/new">Respond To This Comment</a></button>

<h3>Responses:</h3>

{{#each responses}}
<a class='test' href="/posts/{{postId}}/comments/{{commentId}}/responses/{{_id}}">View Response</a>
<h4 class='test'>Username: {{name}}</h4>
<p class='test'>Response: {{response}}</p> 
{{/each}}




