<h1>UserName: {{response.name}}</h1>
<p>{{response.response}}</p>

<button type="button" class="btn btn-outline-dark"><a class="users" href='/posts/{{postId}}/comments/{{commentId}}'>Return To Comment</a></button>

<form method="POST" action="/posts/{{postId}}/comments/{{commentId}}/responses/{{response._id}}?_method=DELETE">
    <input type="submit" value="Delete Response" />

</form>




