<h1>UserName: {{response.name}}</h1>
<p>{{response.response}}</p>

<a class="users" href='/posts/{{postId}}/comments/{{commentId}}'>Return To Comment</a>

<form method="POST" action="/posts/{{postId}}/comments/{{commentId}}/responses/{{responseId}}?_method=DELETE">
    <input type="submit" value="Delete Response" />

</form>




