<h1>{{user.userName}}</h1>
<p>{{user.email}}</p>
<p>{{user.favoriteSport}}</p>

{{!-- <a href="/users/{{user._id}}/edit">Edit user</a> --}}
<form method="POST" action="/users/{{user._id}}?_method=DELETE">
    <input type="submit" value="Delete user" />
</form>
{{#each posts}}
<a href="/posts/{{_id}}">{{_id}}</a>
{{category}}
{{status}}
{{post}}

{{/each}}

