<div class= 'wrapper'>

  {{!-- <video id="video"src='/videos/smoke.mp4' type="video/mp4" autoplay muted></video> --}}
<section>
  <h1>
    <span>S</span>
    <span>P</span>
    <span>O</span>
    <span>R</span>
    <span>T</span>
    <span>Z</span>
  </h1>
  </section>
 <p id="slogan">Talk Like A Champion Today!</p>
</div>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/users">Sportz Members</a>
    <a class="nav-link active" href="/posts/new">Create A New Post</a></button>
  </li>
</ul>
<div class= 'paragraph'>


  {{!-- <button type="button" class="btn btn-danger"><a href="/posts/new">Create A New Post</a></button> --}}
  &nbsp;
<h3>Top Posts:</h3>

{{#each posts}}
    <p>Sport Category: {{category}}</p>
    <p>Current Status: {{status}}</p>
    <p>Posted at: {{created_at}}</p> 
    <img src="{{imgLink}}" alt="Image of {{post}}">
        <p>{{post}}</p>
        <h4><a class='users' href='/posts/{{_id}}'>Comments:</a></h4>
    &nbsp;
    &nbsp;
    &nbsp;
    {{!-- <a href="/users/{{user._id}}">{{user.userName}}</a> --}}
    </div>
{{/each}}

