<h1>{{post.category}}</h1>
<p>{{post.status}}</p>
<p>{{post.post}}</p>
<p>Posted At: {{post.created_at}}</p>

<a href="/posts/{{post._id}}/edit">Edit Post</a>
<form method="POST" action="/posts/{{post._id}}?_method=DELETE">
    <input type="submit" value="Delete Post" />

</form>

<a href="/posts/{{post._id}}/comments/newCommentForm">Comment on this post</a>
<h3>Comments</h3>

<ul>
    {{#each comment}}
        <li>{{response}}</li>
    {{/each}}
</ul>
