<h1>{{post.category}}</h1>
<p>{{post.status}}</p>
<p>{{post.post}}</p>
<p>Posted At: {{post.created_at}}</p>

<button type="button" class="btn btn-outline-dark"><a class="users" href='/posts'>Return To All Posts</a></button>

<button type="button" class="btn btn-outline-dark"><a class="users" href="/posts/{{post._id}}/edit">Edit Post</a></button>

{{!-- Entered /users/{{userId}} before /posts/{{post._id}}--}}
<form method="POST" action="/posts/{{post._id}}?_method=DELETE">
    <input type="submit" value="Delete Post" />

</form>
&nbsp;
<a class="users" href="/posts/{{post._id}}/comments/new">Make A Comment on this post</a>
&nbsp;
<h3 class="users">Current Comments:</h3>

{{#each comments}}
<a class='test' href="/posts/{{../post._id}}/comments/{{_id}}">View Comment</a>
<h4 class='test'>Username: {{name}}</h4>
<p class='test'>Response: {{response}}</p>
{{!-- <a class="users" href='/posts/{{_id}}/comments/edit'>Edit Comments</a> --}}
{{/each}}

